Hello there, my name is Zack Lee and in this lab i will be creating a custom data set with multiple data types. I will be working with and usinf pandas DataFrames for exlploration and cleaning, I will also be using different data structures such as lists, dictionaries, and DataFrames.

Part 2 of this Lab will be setting up the pandas DataFrame and filling the DataFrame with randomly generate data using random.

In [ ]:
#import statements

In [ ]:
import numpy as np
import pandas as pd
import random

In [ ]:
#create a random seeto get reproducability

In [ ]:
np.random.seed(1)
random.seed(1)

In [ ]:
#declare a constant for the number of rows

In [ ]:
num_rows = 50

In [ ]:
#create the student ID numbers using numpy

In [ ]:
student_ID = np.arange(1000, 1000 + num_rows)

In [ ]:
#randomly generate the students scores using numpy and random

In [ ]:
score = np.round(np.random.uniform(50, 100, size = num_rows), 2)

In [ ]:
#create the different types of majors using a list

In [ ]:
major = random.choices(
    [
        "Computer Science",
        "Engineering",
        "History",
        "English", 
        "Criminal Justice"
    ],
    k = num_rows
)

In [ ]:
#randomly generate a graduation year between two dates

In [ ]:
graduation_year = np.random.choice(np.arange(2026, 2030), size = num_rows)

In [ ]:
#create a pass/fail based on the students score

In [ ]:
pass_fail = score >= 70.0

In [ ]:
#create the data set using a dictionary

In [ ]:
data_set = {
    "Student_ID": student_ID,  
    "Score: ": score,              
    "Major: ": major,              
    "Graduation Year: ": graduation_year,
    "Pass/Fail: ": pass_fail 
}

In [ ]:
#using pandas create the dataframe

In [ ]:
transcript_df = pd.DataFrame(data_set)

In [ ]:
transcript_df

Part 3 of this lab will be using exploring the data in the data frame using different methods such as describe(), iloc[], loc[] and so forth.

In [ ]:
#display the first 5 rows

In [ ]:
transcript_df.head(5)

In [ ]:
#display the last 5 rows

In [ ]:
transcript_df.tail(-5)

In [ ]:
#display the column names and the data types

In [ ]:
transcript_df.keys()

In [ ]:
transcript_df.dtypes

In [ ]:
#Generate descriptive statitics using desribce() for numeric columns

In [ ]:
transcript_df.describe()

In [ ]:
#find the number of unique values in a categorical column (we will do majors)

In [ ]:
transcript_df["Major: "].value_counts()

In [ ]:
#use info() to get the overal non-null counts and datatypes of each column, along with the size of the dataframe

In [ ]:
transcript_df.info()

Part 4: Column challenge, in this part of the lab we will be adding a new column that is computed from another column. In this case we will take the students score and give them a letter grade.

create a new grade list. With the grade list iterate over score column in the transcript df and based on the students score append their grade to the list

In [ ]:
grade = []

for score in transcript_df['Score: ']:
    if score < 70:
        grade.append("F")
    elif score >= 70 and score <= 79.99:
        grade.append("C")
    elif score >= 80 and score <= 89.99:
        grade.append("B")
    else:
        grade.append("A")

In [ ]:
#attach the new column to the transcript df

In [ ]:
transcript_df['Grade : '] = grade

In [ ]:
transcript_df

In [ ]:
#save the final dataframe with the 6 columns as a csv file

In [ ]:
transcript_df.to_csv("transcript_dataframe.csv", index = False)